# ignore all files
**
# whitelist included files
!LICENSE
!CHANGELOG.md
!images/icon.png
!images/chat_icon.png
!media/main.css
!media/main.js
!media/reset.css
!media/vscode.css
!media/prompts/review-v2think.md
!media/prompts/lang/csharp.md
!media/prompts/lang/react.md
!media/prompts/templates/architecture/common.md
!media/prompts/templates/architecture/auto.md
!media/prompts/templates/architecture/backend.md
!media/prompts/templates/architecture/frontend.md
!media/prompts/templates/architecture/fullstack.md
!out/extension.js