# ignore all files
**
# whitelist included files
!LICENSE
!CHANGELOG.md
!images/icon.png
!images/chat_icon.png
!media/main.css
!media/main.js
!media/reset.css
!media/vscode.css
!media/prompts/review-v2think.md
!media/prompts/lang/csharp.md
!media/prompts/lang/react.md
!media/prompts/templates/architecture-project-context.md
!out/extension.js